body {
  background-image: url("https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGd5bSUyMGNvdmVyJTIwcGhvdG98ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  /* animation: 2s anim-lineUp ease-out infinite; */
}
/* @keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  } */
/* } */

.director {
  color: rgb(204, 200, 200);
  margin-top: 7%;
  margin-left: -5%;
  font-size: 1.2rem;
}
.button {
  position: absolute;
  bottom: 10%;
  color: rgb(222, 222, 222);
  font-size: 1rem;
  border: solid white 3px;
  border-radius: 25px;
  padding: 6px 40px;
  background: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
